* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(248, 228, 239);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*/ MENU /*/

nav {
    background-color: rgba(255, 52, 164, 0.452);
    position: static;
    top: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    
}

nav ul{
    list-style-type: none;

}

nav ul li {
    color: rgb(255, 255, 255);
    display: inline-block;
    position: relative;
    padding: 30px;
    text-align: center;
    font-size: large;
    text-decoration: none;
}
nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    display: none;
}

nav ul li li {
    background-color: rgb(255, 156, 247);
    color: white;
    min-width: 150px;
    text-decoration: none;
}

nav ul li:hover {
    background-color: rgba(255, 52, 164);
    color: white;
}

nav ul li:hover ul {
    display: block;
}

/*/ FIM DO MENU /*/

.fundodiv {
    background-color: rgba(255, 255, 255, 0.507);
    padding: 4%;
    border-radius: 8px;
    margin: 5%;
}

.imgT:hover{
    transform: scale(1.1);
    transition: 0.8s;
}
.imgT{
    border-radius: 9px;
}

footer {
    background-color: rgba(255, 52, 164, 0.452);
    color: white;
    bottom: 0;
    padding: 5%;
    width: 90%;
    font-size: 120%;}

    * {
        scrollbar-width: thin;
        scrollbar-color: rgb(255, 0, 212) rgb(243, 156, 210);
      }
      
      /* Works on Chrome, Edge, and Safari */
      *::-webkit-scrollbar {
        width: 12px;
      }
      
      *::-webkit-scrollbar-track {
        background: rgba(255, 52, 164, 0.452)
      }
      
      *::-webkit-scrollbar-thumb {
        background-color: rgb(255, 0, 212);
        border-radius: 20px;
      }

/*/ LOGIN /*/

#login {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 80vh;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.card {

    background-color: rgba(19, 19, 19, 0.3);

    padding: 40px;

    border-radius: 2px;

    width:280px;

}

.card-header {

    padding-bottom: 50px;

    opacity: 0.8;

    color: #fff;

}



.card-content label {

    color: #fff;

    font-size: 12px;

    opacity: 0.8;

}

.card-content-area {

    display: flex;

    flex-direction: column;

    padding:10px 0;

}

.card-content-area input {

    margin-top: 10px;

    padding:0 5px;

    background-color: transparent;

    border:none;

    border-bottom: 1px solid #e1e1e1;

    outline: none;

    color: #fff;

}

.card-footer {

    display: flex;

    flex-direction: column;

}

.card-footer .submit{

    width: 100%;

    height: 40px;

    background-color: #a13854;

    border:none;

    color:#e1e1e1;

    margin: 10px 0;

}

.card-footer a {

    text-align: center;

    font-size: 12px;

    opacity: 0.8;

    color: #fff;

    text-decoration: none;

}

.submit:hover {
    transform: scale(1.1);
    transition: 0.8s;
}